.button {
  @include flex-center(true);

  height: var(--button-height);
  padding-inline: 35px;
  font-size: 20px;
  color: var(--color-light);
  background-color: var(--color-dark);
  border: var(--border);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);

  @include hover {
    color: var(--color-dark);
    background-color: var(--color-accent);
    box-shadow: none;
    transform: translateY(5px);
    transition-duration: var(--transition-duration);
  }

  &--transparent {
    color: var(--color-dark);
    background-color: transparent;
  }

  &--border-gray {
    border: 1px solid var(--color-gray);

    @include hover {
      border: 1px solid var(--color-dark);
      background-color: var(--color-accent);
      box-shadow: none;
      transform: translateY(5px);
    }
  }
}
