.button {
  @include flex-center(true);

  height: var(--button-height);
  padding-inline: 35px;
  font-size: 20px;
  color: var(--color-light);
  background-color: var(--color-dark);
  border: var(--border);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);


  @include hover {
    color: var(--color-dark);
    background-color: var(--color-accent);
    box-shadow: none;
    transform: translateY(5px);
  }

  &--transparent {
    color: var(--color-dark);
    background-color: transparent;
  }
}

.button_border_gray {
  border: 1px solid var(--color-gray);

  &:hover {
    border: 1px solid var(--color-dark);
    background-color: var(--color-accent);
    box-shadow: none;
    transform: translateY(5px);
  }
}

