.cross-button {
  @include reset-button;
  @include square(48px);

  position: relative;
  border-radius: var(--border-radius-small);
  transition:
    background-color 0.2s ease,
    transform 0.2s ease;

  @include hover {
    background-color: var(--color-accent);
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 7px;
    width: 70%;
    height: 2px;
    background-color: var(--color-dark);
    border-radius: 5px;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}
