.radio {
  display: flex;
  align-items: center;
  column-gap: 14px;
  transition-duration: var(--transition-duration);

  @include hover {
    background-color: var(--color-accent);
    border-radius: var(--border-radius-large);
    color: var(--color-dark);
    transition-duration: var(--transition-duration);
    padding: 10px;
  }

  &__input {
    &:not(:checked) + .radio__emulator::after {
      opacity: 0;
    }
  }

  &__emulator {
    @include flex-center;
    @include square(28px);

    position: relative;
    background-color: var(--color-light);
    border: var(--border);
    border-radius: 50%;

    &::after {
      @include abs-center;
      @include square(60%);

      content: "";
      background-color: var(--color-accent);
      border-radius: inherit;
      transition-duration: var(--transition-duration);
    }
  }
}
