.reviews {
  display: flex;
  flex-direction: column;
  column-gap: 124px;
  padding-top: 84px;
  padding-bottom: 68px;
  color: var(--color-light);
  background-color: var(--color-dark);
  border-radius: var(--border-radius-large);

  &__slider {
    &-list {
      display: flex;
      column-gap: 50px;
    }
  }
}
