.studies {
  @include desktop-above {
    padding: 70px 60px;
  }

  @include mobile-above {
    padding: 40px;
    color: var(--color-light);
    background-color: var(--color-dark);
    border-radius: var(--border-radius-large);
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: stretch;

    @include mobile {
      scroll-snap-type: x mandatory;
      overflow-x: scroll;
      width: 100vw;
      column-gap: 20px;

      scrollbar-width: none;
      -ms-overflow-style: none;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  &__description {
    font-size: 18px;
    line-height: 1.5;
    color: var(--color-light);
    max-width: 100%;
  }

  &__item {
    --studiesItemPaddingX: 64px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 20px;

    @include desktop {
      --studiesItemPaddingX: 32px;
    }

    @include mobile {
      min-width: 350px;
      padding: 42px 50px;
      color: var(--color-light);
      background-color: var(--color-dark);
      border-radius: var(--border-radius-large);
      scroll-snap-align: start;
    }

    @include mobile-above {
      &:not(:first-child) {
        padding-left: var(--studiesItemPaddingX);
      }

      &:not(:last-child) {
        padding-right: var(--studiesItemPaddingX);
        border-right: 1px solid var(--color-light);
      }
    }
  }

  &__link {
    display: inline-flex;
    align-items: center;
    column-gap: 15px;
    font-size: 20px;
    line-height: 1.4;
    color: var(--color-accent);
    width: fit-content;
    padding: 10px;

    @include hover {
      background-color: var(--color-accent);
      border-radius: var(--border-radius-large);
      color: var(--color-dark);
      transition-duration: var(--transition-duration);

      svg {
        color: var(--color-dark);
      }
    }
  }
}
